@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

body {
    margin: 0;
    max-width: 100;
    font-family: 'Abel', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: rgb(209, 50, 10);
    font-size: 20px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
}

h2 {
    font-size: 14px;
    font-weight: bold;
    font-weight: 500;
}

h4 {
    font-size: 16px;
    font-weight: bold;
    font-weight: 500;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.login-icon {
     max-width: 60px;
    
}




.login-right {
    display: flex;
}

.login-left {
    display: flex;
}

/* navigation */

.navigation-menu, .navigation-menu-2 {
    display: flex;
    list-style: none;
    border: lightblue;
    border: 1px solid white;
}

.navigation-menu li, .navigation-menu-2 li {
    color: white;
    font-family: inherit;
    text-transform: uppercase;
    padding: 5px;
}

.navigation-menu li a, .navigation-menu-2 li a {
    text-decoration: none;
}

.navigation-menu li a:visited, .navigation-menu-2 li a:visited {
    color: white;
}

/* banner */

.banner-image {
    background: url(../Image/gym-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 33%;
}

.page-container {
    display: flex;
    margin-bottom: 3%;
    line-height: 1.6;
}

.second-banner {
    background: url(../Image/website-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 33%;
    margin: 0 20px;
}

/* banner image 

.banner-image{
    background-image: url(/Image/gym-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}

.second-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    margin-top: 20px;
}

*/

.fitness-card {
    text-align: center;
    background-color: #ECECEC;
    padding: 15px;
    margin: -100px 20px 0px 20px;
}

.training-card {
    padding: 15px;
    text-align: center;
    background-color: #ECECEC;
    margin: -100px 20px 0px 0px;
}

.latest-update {
    padding: 15px;
    text-align: center;
    background-color: #ECECEC;
    margin: -100px 20px 0px 0px;

.openSlideMenu {
}

}

/* button */

.btn,
.btn-2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2em;
    border-width: 2px;
    border-color: rgb(209, 50, 10);
    border-style: solid;
    padding: 10px 20px;
    text-transform: uppercase;
    color: black;
    background-color: transparent;
    outline: none;
}

.btn:hover,
.btn-2:hover {
    transition: ease-in 0.5s;
    background-color: rgb(209, 50, 10);
    color: white;
    cursor: pointer;
}

/* Margin utilities */

.mt-25{
    margin-top: 25px;
}
.mt-30{
    margin-top: 30px;
    margin-bottom: 10px;
}

/* body */

.main {
    display: flex;
    flex-direction: column;
}

.header-body {
    text-align: center;
    font-size: 24px;
}

.para-body {
    text-align: center;
    margin: 0 100px 40px;
    font-size: 21px;
}

.layout-body {
    display: flex;
    margin: 0 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.container-search {
    margin-bottom: 20px;
}

/* burger menu */

.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #212121;
    overflow-x: hidden;
    padding-top:60px;
    transition: 0.7s;
    
}

.nav a {
    display: block;
    padding: 20px 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-family:'Abel', sans-serif;
    font-weight: 500;
    
}

.nav .close {
    position: absolute;
    top: 0;
    right:  22px;
    margin-left: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.nav a:hover {
     transition: ease-in 0.5s;
    color: rgb(209, 50, 10);

}

.slide a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.slide a:hover {
     transition: ease-in 0.5s;
    color: rgb(209, 50, 10);}



#content {
    padding: 20px;
    transition: margin-left 0.7s;
    overflow: hidden;
    align-self: center;
}

.top-nav-text {
    text-decoration: none;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    margin-left: 5px;
    text-transform: uppercase;
    font-weight: 500;
}


