@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto&display=swap");



body {
    margin: 0;
    max-width: 100;
  }




h1 {
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(209, 50, 10);
   font-size: 20px;
   text-transform: uppercase;
   font-style: italic;
   font-weight: bold;  
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-weight: 500;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-weight: 500;
}

p {
    font-family: abel;
    font-size: 16px;
    line-height: 1.5;
}

.login-image {
    width: 40px;
    height: 40px;
}

.login-right {
    display: flex;
}



.login-left {
    display: flex;
    }


    /* navigation */

.navigation-menu,
.navigation-menu-2 {
    display: flex;
    list-style: none;
    border: lightblue;
    border: 1px solid white;
}

.navigation-menu li,
.navigation-menu-2 li  {
    color: white;
    font-family: "abel";
    text-transform: uppercase;
    padding: 5px;

    
}

.navigation-menu li a,
.navigation-menu-2 li a  {
    text-decoration: none;
}

.navigation-menu li a:visited,
.navigation-menu-2 li a:visited {
    color: white;
}

/* banner */

.banner-image {
    background: url(../Image/gym-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 33%;
}

.page-container {
    display: flex;
    margin-bottom: 3%;
   
   
    
}

.second-banner {
    background: url(../Image/website-banner.png);
     background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 33%;
    margin: 0 20px;
}


/* banner image 

.banner-image{
    background-image: url(/Image/gym-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}

.second-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    margin-top: 20px;
}

*/




.fitness-card {
    text-align: center;
    background-color: #ECECEC;
    padding: 15px;
    margin: -100px 20px 0px 20px;

}

.training-card {
   padding: 15px;
    text-align: center;
    background-color: #ECECEC;
     margin: -100px 20px 0px 0px;


}

.latest-update {
     padding: 15px;
    text-align: center;
    background-color: #ECECEC;
     margin: -100px 20px 0px 0px;

}


/* button */

.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-weight: bold;
    border-radius: 2em;
    border-width: 2px;
    border-color: rgb(209, 50, 10);
    border-style: solid;
    padding: 10px 20px;
    text-transform: uppercase;
    margin-top: 30px;
    color: black;
    background-color: transparent;
    outline: none;
    
    
}

.btn:hover {
    transition: ease-in 0.5s;
    background-color: rgb(209, 50, 10);
    color: white;
    cursor: pointer;
}

.btn-2 {
    font-family: "Arial, Helvetica, sans-serif;"
    font-weight: 500;
    font-weight: bold;
    border-radius: 2em;
    border-width: 2px;
    border-color: rgb(209, 50, 10);
    border-style: solid;
    text-transform: uppercase;
    color: black;
    background-color: transparent;
    outline: none;
    padding: 10px 20px;
    margin-top: 25px;


}

.btn-2:hover{

     transition: ease-in 0.5s;
    background-color: rgb(209, 50, 10);
    color: white;
    cursor: pointer;

    
}


/* body */

.main {
    display: flex;
    flex-direction: column;
}

.header-body {
    text-align: center;
    font-size: 24px;
}

.para-body {
    text-align: center;
    margin: 0 100px 40px;
    font-size: 21px;
}

.layout-body {
    display: flex;
    margin: 0 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.container-search {
    margin-bottom: 20px;
}



