@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto&display=swap") * {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(209, 50, 10);
    font-size: 20px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-weight: 500;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-weight: 500;
}

p {
    font-family: abel;
    font-size: 16px;
    line-height: 1.5;
}

/* banner image */

.banner-image {
    background-image: url(/Image/gym-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.second-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

/* cards */

.fitness-card {
    padding: 10px;
    text-align: center;
    margin-right: 20px;
    margin-top: -100px;
    background-color: #ECECEC;
}

.training-card {
    padding: 10px;
    text-align: center;
    margin-right: 20px;
    margin-top: -100px;
    background-color: #ECECEC;
}

.latest-update {
    padding: 10px;
    text-align: center;
    margin-top: -100px;
    background-color: #ECECEC;
}

/* .navigation-menu {
    display: flex;
    list-style: none;
}

.navigation-menu li {
    padding: 20px;
    color:white;
    font-family: "abel";
    text-transform: uppercase;
    
}

.navigation-menu li a {
    text-decoration: none;
}

.navigation-menu li a:visited {
    color: white;
}
 */

.navigation-menu {
    color: black;
    display: inline-flex;
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: none;
    list-style: none;
    align-items: center;
}

.navigation-menu li {
    margin-right: 0.5rem;
}

/* Nav start */

.primary-header {
    display: flex;
    align-items: stretch;
    background: red;
    border: 10px solid red;
}

.nav-right, .nav-left {
    display: flex;
    flex: 1;
}

.nav-right {
    justify-content: flex-end;
    background: blue;
}

.nav-left {
    justify-content: flex-start;
    background: green;
}

/* Nav end */

.nav-right a {
    color: white;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2em;
    border-width: 2px;
    border-color: rgb(209, 50, 10);
    border-style: solid;
    padding: 10px 50px;
    text-transform: uppercase;
    margin: 30px;
    color: black;
    background-color: transparent;
    outline: none;
}

.btn:hover {
    transition: ease-in 0.5s;
    background-color: rgb(209, 50, 10);
    color: white;
    cursor: pointer;
}